<mat-card class="my-card">
  <span>Cadastro de pessoa</span>
  <mat-card-content>
    <form class="my-form" [formGroup]="formCadastro">
      <mat-form-field class="full-width">
        <mat-label>Nome:</mat-label>
        <input matInput type="text" placeholder="Digite o nome" formControlName="nome">
        <mat-error *ngIf="hasError('nome', 'required')">Nome é necessário</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Email:</mat-label>
        <input matInput type="text" placeholder="Digite o email" formControlName="email">
        <mat-error *ngIf="hasError('nome', 'required')">email é necessário</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Telefone:</mat-label>
        <input matInput type="text" placeholder="Digite o número de telefone" formControlName="telefone">
        <mat-error *ngIf="hasError('nome', 'required')">telefone é necessário</mat-error>
      </mat-form-field>
      
      <mat-form-field class="full-width">
        <mat-label>Senha:</mat-label>
        <input matInput type="text" placeholder="Digite a senha" formControlName="senha">
        <mat-error *ngIf="hasError('nome', 'required')">senha é necessário</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [routerLink]="[ '']" color="accent">Voltar</button>
    <button mat-raised-button (click)="add()" color="primary" [disabled]="!formCadastro.valid">Adicionar</button>
  </mat-card-actions>
</mat-card>