<mat-card class="my-card">
  <span>Cadastrar de tipo de ocorrência</span>
  <mat-card-content>
    <form class="my-form" [formGroup]="ownerForm">
      <mat-form-field class="full-width">
        <mat-label>Descrição</mat-label>

        <input matInput type="text" placeholder="Descrição" formControlName="descricao">
        <mat-hint align="end">Máximo 60 caracteres</mat-hint>
        <mat-error *ngIf="hasError('descricao', 'required')">Descrição necessária</mat-error>
        <mat-error *ngIf="hasError('descricao', 'maxlength')">Você tem mais de 60 caracteres</mat-error>
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [routerLink]="[ '/occurrencetype/list']" color="accent">Voltar</button>
    <button mat-raised-button (click)="add()" color="primary" [disabled]="!ownerForm.valid">Adicionar</button>
  </mat-card-actions>
</mat-card>