<mat-card class="my-card">
  <mat-card-content>
    <span class="span_font"> AREA: {{desc}} </span>

    <mat-card-actions style="float: right;">
      <button mat-raised-button [routerLink]="[ '/area/list']" color="accent">Voltar</button>
    </mat-card-actions>
    <br>
    <span class="span_font"> Tipo do solo: {{solo.description}} </span>
  </mat-card-content>
</mat-card>
<mat-card class="my-card2">
  <mat-card-content>
    <div id="map" class="map my-map"></div>
  </mat-card-content>
</mat-card>