.my-form{
    
    align-content: center;
    margin: 10px auto;
    min-width: 100px;
    max-width: 1200px;
    width: 100%;
  }
.my-map{
  align-content: center;
  margin: 10px auto;
  min-width: 100px;
  max-width: 900px;
  width: 100%;
}

.span_font{
  font-size: 20px;
}

