<mat-card>
  <span>Ocorrência: {{descricao}}</span>

  <mat-card-content>
    <form class="my-form">
      <mat-form-field class="full-width">
        <mat-label>Descrição</mat-label>
        <input matInput type="text" id="descricao" disabled>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Tipo de Ocorrencia</mat-label>
        <input matInput type="text" id="ocorrencia" disabled>
      </mat-form-field>
    </form>
    
  </mat-card-content>


  <mat-card-actions>
    <button mat-raised-button (click)="volta()" color="accent">Voltar</button>
  </mat-card-actions>
</mat-card>